header {
    background-color: black;
}

body {
    background-color: aliceblue;
}

.estudante-div {
    text-align: center;
    padding: 16px 0;
}

.estudante-titulo {
    text-align: center;
    padding: 16px 0;
}

.estudante-imagem {
    width: 50%;
    height: 50%;
}

.estudante-icone {
    width: 25px;
    padding: 4px 8px;
}

footer {
    background-color: black;
}

.rodape {
    background-color: blanchedalmond;
    text-align: center;
}